<!-- Default form login -->

<div class="row">
  <div class="col-5 text-center">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Login</h3>
      </div>
      <div class="card-body text-center">
        <form>

          <input type="text" id="defaultLoginFormUsername" class="form-control mb-4" placeholder="Username">

          <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">


          <button mdbBtn color="info" class="my-4" type="submit">Sign in</button>

          <p>Not a member?
            <a routerLink="app-register">Register</a>
          </p>


        </form>
      </div>
    </div>
  </div>
</div>
