<!-- Default form login -->

<div class="row">
  <div class="col-5 text-center">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Login</h3>
      </div>
      <div class="card-body text-center">
         <form (ngSubmit)="onSubmit()" #registerForm="ngForm" class="text-center border border-light p-5">

            <input type="text" required [(ngModel)]="Username" name="Username" #name="ngModel"
              id="defaultRegisterFormUsername" class="form-control mb-4" placeholder="Username">

        <input type="password" required [(ngModel)]="Password" name="Password" #name="ngModel"
          id="defaultRegisterFormPassword" class="form-control" placeholder="Password"
          aria-describedby="defaultRegisterFormPasswordHelpBlock">

<br>
          <button mdbBtn color="info" class="btn btn-success" type="submit" [disabled]="!registerForm.form.valid">Sign in</button>

          <p>Not a member?
            <a routerLink="app-register">Register</a>
          </p>


        </form>
      </div>
    </div>
  </div>
</div>
