<!-- Default form register -->
<div class="row">
  <div class="col-5 text-center">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Resale form</h3>
      </div>
      <div class="card-body text-center">
        <form (ngSubmit)="onSubmit()" #registerForm="ngForm" class="text-center border border-light p-5">

          <div class="form-row mb-4">
            <div class="col">
              <input type="text" required [(ngModel)]="Title" name="Title" #name="ngModel" id="defaultRegisterFormTitle"
                class="form-control" placeholder="Title">
            </div>
            <div class="col">
              <input type="text" required [(ngModel)]="userValue" name="userValue" #name="ngModel"
                id="defaultRegisterFormValue" class="form-control" placeholder="userValue">
            </div>
          </div>
          <div class="form-row mb-4">
            <div class="col">
              <input type="text" required [(ngModel)]="Brand" name="Brand" #name="ngModel" id="defaultRegisterFormBrand"
                class="form-control" placeholder="Brand">
            </div>
            <div class="col">
              <input type="text" required [(ngModel)]="Model" name="Model" #name="ngModel" id="defaultRegisterFormModel"
                class="form-control" placeholder="Model">
            </div>
          </div>
          <input type="text" required [(ngModel)]="Description" name="Description" #name="ngModel"
            id="defaultRegisterFormDescription" class="form-control" placeholder="Description">
		  <br>
		    <input type="text" required [(ngModel)]="User" name="User" #name="ngModel"
			  id="defaultRegisterFormUser" class="form-control" placeholder="User">
			  <br>
          <input type="text" required [(ngModel)]="Image" name="Image" #name="ngModel" id="defaultRegisterFormPathURL"
            class="form-control" placeholder="Path://ImageURL">



          <br>
          <br>
          <button mdbBtn color="info" class="btn btn-success" type="submit"
            [disabled]="!registerForm.form.valid">Register</button>
        </form>

      </div>

    </div>
  </div>
</div>
