<h2>Current Auctions</h2>

<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-header bg-card"
        style="background-image: url(https://img.newatlas.com/2017-best-phones-1.jpg?auto=format%2Ccompress&ch=Width%2CDPR&fit=crop&h=347&q=60&rect=0%2C0%2C1799%2C1012&w=616&s=1e8ed4546396d8b8cfa89edfef64ecfb)">
        <div class="badge badge-danger">Quase a terminar</div>
      </div>
      <div class="card-body cbody-100">
        <h4 class="font-weight-bold">Phone #1</h4>
        <p>Overview:</p>
        <p>Current price:</p>
        <!-- texto -->
      </div>
      <div class="card-footer ">
        <!-- buttons -->
        <button class="btn btn-sm btn-outline-primary ">Bid</button>
        <button class="btn btn-sm ml-2 btn-outline-primary">Details</button>

        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-dark btn-sm ml-2" id="dropdownBasic1" ngbDropdownToggle>Status</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a href="/auction/id/reprovado" ngbDropdownItem>
              <fa name="circle" class="text-danger"></fa> Reprovado
            </a>
            <button ngbDropdownItem>
              <fa name="paper-plane" class="text-primary"></fa> Sent
            </button>
            <button ngbDropdownItem><fa name="check-circle" class="text-success"></fa> Finished</button>
          </div>
        </div>

        <!-- <select class="btn btn-sm ml-2 btn-dark">
          <option selected>Finished</option>
          <option value="1">Sent</option>
          <option value="2">Receiced</option>
          <option value="3">Evaluated</option>
          <option value="4">Refused</option>

        </select> -->
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-header bg-card"
        style="background-image: url(https://www.lg.com/au/images/smartphones/md05878255/gallery/V30-medium01.jpg)">

      </div>

      <div class="card-body cbody-100">
        <h4 class="font-weight-bold">Phone #2</h4>
        <p>Overview:</p>
        <p>Current price:</p>
        <!-- texto -->
      </div>
      <div class="card-footer text-right">
        <!-- buttons -->
        <button class="btn btn-outline-primary">Bid</button>
        <button class="btn btn-outline-primary text-left">Details</button>
        <select class="btn btn-outline-primary">
          <option selected>Finished</option>
          <option value="1">Sent</option>
          <option value="2">Receiced</option>
          <option value="3">Evaluated</option>
          <option value="4">Refused</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
